.footer {
    width: 100%;
    background: linear-gradient( 0deg,  rgba(0, 180, 216, 0.75),  rgba(0, 180, 216, 0.75) ), rgba(0, 0, 0, 0.8);
    color: white;
    padding: 40px 20px;
    cursor: pointer;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    max-width: 1140px;
    margin: auto;
    flex-wrap: wrap;
  }
  
  .footer-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .footer-section h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .footer-section p {
    font-size: 16px;
  }
  
  .social-icons {
    display: flex;
    gap: 14px;
    padding: 10px 0;
  }
  
  .icon {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 5px;
  }
  
  .footer-line {
    margin: 10px auto; 
    border: none;
    border-top: 1px solid #fff;
    width: 90%;
  }
  
  .footer-bottom {
    margin: 10px;
    text-align: center;
    justify-content: center;
    font-size: 16px;
  }
  